<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <style>
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ConnArtist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="nav_ip">
            <a class="nav-link" href="/">IP Mode<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="nav_port">
            <a class="nav-link" href="/port">PORT Mode</a>
          </li>
          <li class="nav-item" id="nav_saves">
            <a class="nav-link" href="/saves">Saves</a>
          </li>
          <li class="nav-item active" id="nav_exports">
            <a class="nav-link" href="#">Exports</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xl">
                EXPORTS
            </div>
            <div class="col-xl"></div>
            <div class="col-xl">
                CONTENTS
            </div>
        </div>
        <div class="row">
            <div class="col-xl" id="export">
                {{ filenames|safe }}
            </div>
            <div class="col-xl" id="contents">
                
            </div>
        </div>
    </div>

</body>
<div class="toast">
    <div class="toast-header">
        <strong class="mr-auto" id="toast-header"></strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body">
        
    </div>
</div>