<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            $('.popover-dismiss').popover({
                trigger: 'focus'
            });
        });

        function toggleRefresh() {
            if(refresh) {
                refresh = false;
                $("#toggle").text("Unpause");
            } else {
                refresh = true;
                $("#toggle").text("Pause");
            }
            $("#refresh").toggle();
        }

        drawGraph();

        setInterval(function(){
            if(refresh)
                drawGraph();
        }, 8000);

        function hidePopover() {
            $("#ip_link").focus();
        }

        function drawGraph() {
            hidePopover();
            $.ajax({
                url: window.location.href,
                type: 'GET',
                success: function(res) {
                    console.log("Success");
                

                    d3.select('svg').selectAll('*').remove();
                    /*
                    var simulation = d3.forceSimulation()
                    .force("link", d3.forceLink().id(function(d) { return d.id; }))
                    .force("charge", d3.forceManyBody().strength(-5))
                    .force("center", d3.forceCenter(width / 2, height / 2));

                    d3.json("{{ variable }}", function(error, graph) {
                        if (error) throw error;
                        console.log(graph);

                        var link = svg.append("g")
                            .attr("class", "links")
                            .selectAll("line")
                            .data(graph.links)
                            .enter().append("line")
                            .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

                        var node = svg.append("g")
                            .attr("class", "nodes")
                            .selectAll("g")
                            .data(graph.nodes)
                            .enter().append("g")

                        var circles = node.append("circle")
                            .attr("r", 5)
                            .attr("fill", function(d) { return color(d.group); })
                            .call(d3.drag()
                                .on("start", dragstarted)
                                .on("drag", dragged)
                                .on("end", dragended));

                        var lables = node.append("text")
                           .text(function(d) {
                             return d.id;
                           })
                           .attr('x', 6)
                                .attr('y', 3);

                        node.append("title")
                            .text(function(d) { {{ title|safe }} });

                        simulation
                            .nodes(graph.nodes)
                            .on("tick", ticked);

                        simulation.force("link")
                            .links(graph.links);

                        function ticked() {
                            link
                                .attr("x1", function(d) { return d.source.x; })
                                .attr("y1", function(d) { return d.source.y; })
                                .attr("x2", function(d) { return d.target.x; })
                                .attr("y2", function(d) { return d.target.y; });

                            node
                                .attr("transform", function(d) {
                                return "translate(" + d.x + "," + d.y + ")";
                                })
                                .attr("cx", function(d) {
                                    return d.x = Math.max(radius, Math.min(width - radius, d.x));
                                })
                                .attr("cy", function(d) {
                                    return d.y = Math.max(radius, Math.min(height - radius, d.y));
                                })
                        }
                    });
                    */
                    d3.json("{{ variable }}", function(error, graph) {
                        if (error) throw error;

                        var elementSelector = '.graph',
                                svgSelector = '#svg-graph',
                                width = 960,
                                height = 600, isDragging;

                        var lScale = d3.scale.pow().exponent(5)
                                    .range([3, 15])
                                    .domain(d3.extent(graph.links, function(d) {
                                        return d.value; }));
                                        
                        var zoomBeh = d3.behavior.zoom()
                                    .scaleExtent([0.1, 10])
                                    .on("zoom", zoomEvent);
                        var svgParent = d3.select(svgSelector)
                                    .attr("width", width)
                                    .attr("height", height);
                        var svg = svgParent
                                    .call(zoomBeh)
                                    .append("g");

                        var edges = [];
                        graph.links.forEach(function(e) { 
                            var sourceNode = graph.nodes.filter(function(n) { return n.id === e.source; })[0],
                            targetNode = graph.nodes.filter(function(n) { return n.id === e.target; })[0];
                            edges.push({source: sourceNode, target: targetNode, value: e.value, weight: e.weight});
                        });

                        var force = d3.layout.force()
                                    .charge(-60)
                                    .linkDistance(function(d) { return lScale(d.value); })
                                    .size([width, height])
                                    .nodes(graph.nodes)
                                    .links(edges)
                                    .on('start', forceStart)
                                    .start();

                        var link = svg.selectAll(".link")
                                    .data(edges)
                                    .enter().append("line")
                                    .attr("class", function(d,i) {
                                        if(d.value == 1)
                                            return "tcp" + " weight_" + Math.min(5, d.weight);
                                        return "udp" + " weight_" + Math.min(5, d.weight);
                                    });

                        var drag = force.drag()
                                    .on("dragstart", function(d){
                                        isDragging = true;
                                        d3.event.sourceEvent.stopPropagation();
                                    })
                                    .on("dragend", function(d) {
                                        isDragging = false;
                                    });

                        var node = svg.selectAll(".node")
                                    .data(graph.nodes)
                                    .enter().append("circle")
                                    .attr("class", function(d,i) { 
                                        if(d.group == 1)
                                            return "node source";
                                        return "node dest";
                                    })
                                    .attr("r", function(d){ return 3;})
                                    .style("fill", function(d) {
                                        if(d.group == 0)
                                            return "#AEC7E8"; // source node
                                        else if(d.group == 1)
                                            return "#1F77B4"; // destination node
                                        return "#838181"; // hybrid node
                                    })
                                    .attr("tabindex", function(d) {
                                        return 0;
                                    })
                                    .attr("role", function(d) {
                                        return "button";
                                    })
                                    .attr("data-toggle", function(d) {
                                        return "popover";
                                    })
                                    .attr("data-trigger", function(d) {
                                        return "focus";
                                    })
                                    .attr("title", function(d) {
                                        return "Details for " + d.id;
                                    })
                                    .attr("data-content", function(d) {
                                        return "To be filled";
                                    })
                                    .call(drag);
                                    
                        /*
                        var node = svg.selectAll(".pubdata")
                                .data(graph.nodes)
                                .enter()
                                .append("g")
                                .attr("transform", function(d) {
                                    return "translate(" + d.x + ","+ d.y + ")";
                                });

                        node.append("circle")
                            .attr("r", function(d) { return 5; })
                            .attr("class", function(d,i) { return "node pubdata"; })
                            .call(drag);

                        node.append("text")
                            .text(function(d) { return d.id; });
                        */

                        /*var lables = elem.append("text")
                           .text(function(d) {
                             return d.id;
                           })
                           .attr('x', 6)
                                .attr('y', 3);*/

                        node.append("title")
                            .text(function(d) { {{ title|safe }} });

                        function forceStart() {
                            var ticksPerRender = 3;
                            requestAnimationFrame(function render() {
                            for (var i=0; i<ticksPerRender; i++)
                              force.tick();
                            link.attr("x1", function(d) { return d.source.x; })
                              .attr("y1", function(d) { return d.source.y; })
                              .attr("x2", function(d) { return d.target.x; })
                              .attr("y2", function(d) { return d.target.y; });
                            node.attr("cx", function(d) { return d.x; })
                              .attr("cy", function(d) { return d.y; });
                            if (force.alpha() > 0) {
                              requestAnimationFrame(render);
                            }
                            zoomFit(undefined, 0);
                          });
                        }

                        function zoomEvent() {
                            node
                            .attr("r", function(d) { return 5 / d3.event.scale; })
                            .style("stroke-width", function(d) {
                                return 2 / d3.event.scale;});
                          link.style('stroke-width', 1 / d3.event.scale);
                          svg.attr("transform",
                                    "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
                        }

                        function zoomFit(paddingPercent, transitionDuration) {
                            var bounds = svg.node().getBBox();
                            var parent = svg.node().parentElement;
                            var fullWidth = parent.clientWidth || parent.parentNode.clientWidth,
                                fullHeight = parent.clientHeight || parent.parentNode.clientHeight;
                            var zwidth = bounds.width,
                                zheight = bounds.height;
                            var midX = bounds.x + zwidth / 2,
                                midY = bounds.y + zheight / 2;
                            if (zwidth == 0 || zheight == 0) return; // nothing to fit
                            var scale = (paddingPercent || 0.95) / Math.max(zwidth / fullWidth, zheight / fullHeight);
                            var translate = [fullWidth / 2 - scale * midX, fullHeight / 2 - scale * midY];

                            //console.trace("zoomFit", translate, scale);
                            svg
                                .transition()
                                .duration(transitionDuration || 0) // milliseconds
                                .call(zoomBeh.translate(translate).scale(scale).event);
                        }

                        $('[data-toggle="popover"]').popover();
                        $('.popover-dismiss').popover({
                            trigger: 'focus'
                        });
                        $('circle').mousedown(function(e) {
                            e.stopImmediatePropagation();
                            e.preventDefault(); // prevent focus from firing
                        });
                        $('circle').click(function(e) {
                            $(this).focus();
                        });
                    });
                }
            });
        }
    </script>
    <style>

    circle {
        cursor: pointer;
        outline: none !important;
    }

    line {
      stroke-opacity: 0.8;
    }

    line.weight_1 {
        stroke-width: 0.27px !important;
    }

    line.weight_2 {
        stroke-width: 0.5px !important;
    }

    line.weight_3 {
        stroke-width: 0.75px !important;
    }

    line.weight_4 {
        stroke-width: 1px !important;
    }

    line.weight_5 {
        stroke-width: 1.25px !important;
    }

    line.tcp {
        stroke: red;
    }

    line.udp {
        stroke: green;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }

    #graph {
        width: 960px;
        height: 600px;
        float: left;
    }

    #list {
        margin-left: 960px;
    }

    #refresh {
        display: none;
    }

    .key > div {
        width: 50px;
    }

    .key_src {
        background-color: #AEC7E8;
    }

    .key_dst {
        background-color: #1F77B4;
    }

    .key_hyb {
        background-color: #838181;
    }

    </style>
</head>

<div class="graph" id="graph">
    LIVE NETWORK GRAPH<br>
    Mode: <b>{{ mode }}</b><br>
    Switch Mode: <a id="ip_link" href="/">IP</a> | <a href="/port">PORT</a><br>
    Live Updates: <a id="toggle" href="javascript:toggleRefresh();">Pause</a>
    <span id="refresh"> | <a href="javascript:drawGraph();">Refresh</a></span><br>
    <svg id="svg-graph" width="960" height="600"></svg>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
</div>

<div id="list">
    <div id="key">
        KEY:
        <div class="key_src">SRC</div>
        <div class="key_dst">DST</div>
        <div class="key_hyb">HYB</div><br>
        Red Edge: UDP<br>
        Green Edge: TCP<br>
        Greater edge weight = More connections<br>
    </div>
    <div id="saves">
        <p>SAVED GRAPHS</p>

        {{ list|safe }}
    </div>
</div>