<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <style>
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript">
        var refresh = true;
        var pendingDraw = false;
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({
                sanitize: false
            });
            $('[rel="tooltip"]').tooltip();
            $('.toast').toast({
                delay: 6000
            });

            if("{{ mode }}" == "IP" && "{{ view }}" == "LIVE") {
                $(".nav-item").removeClass("active");
                $("#nav_ip").addClass("active");
            } else if("{{ mode }}" == "PORT" && "{{ view }}" == "LIVE") {
                $(".nav-item").removeClass("active");
                $("#nav_port").addClass("active");
            } else if("{{ view }}" == "SAVE") {
                $(".nav-item").removeClass("active");
                $("#nav_saves").addClass("active");
                $("button").hide();
                $("#savePath").html("{{ variable }}");
                $("#saveMe").show();
                refresh = false;
            } else {
                $(".nav-item").removeClass("active");
                $("#nav_exports").addClass("active");
            }
        });

        drawGraph(false, '{{ view }}', '{{ variable }}', '{{ mode }}');

        setInterval(function(){
            if(refresh)
                if(!pendingDraw)
                    drawGraph(false, '{{ view }}', '{{ variable }}', '{{ mode }}');
        }, 8000);
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ConnArtist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="nav_ip">
            <a id="ip_link" class="nav-link" href="/">IP Mode<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="nav_port">
            <a class="nav-link" href="/port">PORT Mode</a>
          </li>
          <li class="nav-item" id="nav_saves">
            <a class="nav-link" href="/saves">Saves</a>
          </li>
          <li class="nav-item" id="nav_exports">
            <a class="nav-link" href="/exports">Exports</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span id="savePath" class="saveName" style="margin-right: 20px;"></span>
            <button class="btn btn-outline-success my-2 my-sm-0" id="refresh" onclick="javascript:drawGraph(true, '{{ view }}', '{{ variable }}', '{{ mode }}');" type="button">Refresh</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="saveMe" onclick="javascript:saveGraph('{{ mode }}', '{{ view }}', '{{ variable }}');" type="button">Save</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="toggle" onclick="javascript:toggleRefresh();" type="button">Pause Updates</button>
        </form>
      </div>
    </nav>

    <div class="graph" id="graph">
        <svg id="svg-graph" width="960" height="600"></svg>
        <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    </div>

    <div class="toast">
        <div class="toast-header">
            <strong class="mr-auto" id="toast-header"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">
            
        </div>
    </div>

    <div id="list">
        <div id="key">
            <h6>KEY:</h6>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="key">
                                <div class="key_wrapper">
                                    <div class="key_src rounded-circle"></div>
                                </div>
                            </div>
                            <div class="key_label">Source</div>
                        </td>
                        <td>
                            <div class="key">
                                <div class="key_wrapper">
                                    <div class="key_udp"></div>
                                </div>
                            </div>
                            <div class="key_label">UDP*</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="key">
                                <div class="key_wrapper">
                                    <div class="key_dst rounded-circle"></div>
                                </div>
                            </div>
                            <div class="key_label">Destination</div>
                        </td>
                        <td>
                            <div class="key">
                                <div class="key_wrapper">
                                    <div class="key_tcp"></div>
                                </div>
                            </div>
                            <div class="key_label">TCP*</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="key">
                                <div class="key_wrapper">
                                    <div class="key_hyb rounded-circle"></div>
                                </div>
                            </div>
                            <div class="key_label">Hybrid</div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <span class="key_footnote">*Greater edge weight = More connections</span><br>
        </div>
        <div id="saves">
            <h6>25 MOST RECENT GRAPHS</h6>
            <div id="save_links">
            </div>
        </div>
    </div>
</body>